/* SaveButton.css */

.save-btn {
  cursor: pointer;
  transition: all 0.2s ease;
}

.save-btn:hover {
  transform: scale(1.1);
  color: #1d9bf0 !important;
}


.save-btn.dark-theme {
  color: #e7e9ea;
}

.save-btn.saved {
  color: #1d9bf0 !important;
}

.save-btn.saved:hover {
  filter: brightness(1.2);
}

.save-btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}